@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  overflow: hidden ;
  width: 100vw;
  height: 100svh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100svh;
  position: relative;
}

.candle-count-display {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #6A4B18;
  background-color: #F0E4D0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #553C13;
}

.candle-count-display span {
  font-weight: bold;
  color: #AD030F;
}

.cake, .surprise {
  position: absolute;
  width: min(200px, 70vw);
  height: min(200px, 70vw);
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -125px;
}

.surprise {
  margin-top: 35px;
  margin-left: 0;
  opacity: 0.7;
  transform-origin: 0% 0%;
  transform: rotate(0deg) scale(0.8) translate(-50%, -50%);
}

.dania, .mazapan {
  position: absolute;
  width: 100%;
  height: 100%;
}

.surprise img, .dania img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mazapan1 {
  transform-origin: 100% 100%;
  width: 50% !important;
  position: absolute;
  left: 0;
}

.mazapan2 {
  transform-origin: 0% 100%;
  width: 50% !important;
  position: absolute;
  left: calc(50% - 1px);
}

.plate {
  width: 270px;
  height: 110px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 0 #b3b3b3, 0 4px 0 #b3b3b3, 0 5px 40px rgba(0, 0, 0, 0.5);
}

.cake > * {
  position: absolute;
}

.layer {
  position: absolute;
  display: block;
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background-color: #553c13;
  box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b, 0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b, 0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a, 0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09, 0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09;
}

.layer-top {
  top: 0px;
}

.layer-middle {
  top: 33px;
}

.layer-bottom {
  top: 66px;
}

.icing {
  top: 2px;
  left: 5px;
  background-color: #f0e4d0;
  width: 240px;
  height: 90px;
  border-radius: 50%;
}
.icing:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 5px;
  bottom: 6px;
  left: 5px;
  background-color: #f4ebdc;
  box-shadow: 0 0 4px #f6efe3, 0 0 4px #f6efe3, 0 0 4px #f6efe3;
  border-radius: 50%;
  z-index: 1;
}

.drip {
 display: block;
  width: 50px;
  height: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f0e4d0; 
}

.drip1 {
  top: 53px;
  left: 5px;
  transform: skewY(15deg);
  height: 48px;
  width: 40px;
}

.drip2 {
  top: 69px;
  left: 181px;
  transform: skewY(-15deg);
}

.drip3 {
  top: 54px;
  left: 90px;
  width: 80px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.candle {
  background-color: #7B020B;
  width: 12px;
  height: 35px;
  border-radius: 6px/3px;
  top: -20px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
}
.candle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 6px;
  border-radius: 50%;
  background-color: #ad030f;
}

.candle.out .flame {
  display: none;
}

.flame {
  position: absolute;
  background-color: orange;
  width: 10px;
  height: 25px;
  border-radius: 8px 8px 8px 8px/20px 20px 8px 8px;
  top: -34px;
  left: 50%;
  margin-left: -7.5px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
  0% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
  }
  25% {
    transform: skewX(-5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
  50% {
    transform: skewX(10deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
  }
  75% {
    transform: skewX(-10deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
  }
  100% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
}


/*/////////////*/

.cake {
  pointer-events: none;
}

.surprise.rotate {
  animation: surprise-rotation 1s cubic-bezier(0.455, 0.030, 0.050, 1.040) forwards;
}

@keyframes surprise-rotation {
  0% {
    opacity: 0.7;
    transform: rotate(0deg) scale(0.8) translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1) translate(-50%, -50%);
  }
}

.mazapan1.open {
  transform-origin: 100% 100%;
  animation: mazapan1-open 4s cubic-bezier(0.455, 0.030, 0.050, 1.040) forwards;
}

@keyframes mazapan1-open {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  100% {
    transform: rotate(-45deg) translate(-20%, -20%);
  }
}

.mazapan2.open {
  transform-origin: 0% 100%;
  animation: mazapan2-open 4s cubic-bezier(0.455, 0.030, 0.050, 1.040) forwards;
}

@keyframes mazapan2-open {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  100% {
    transform: rotate(45deg) translate(20%, -20%);
  }
}

.surprise.move {
  opacity: 1;
  animation: surprise-move 4s cubic-bezier(0.455, 0.030, 0.050, 1.040) forwards;
}

@keyframes surprise-move {
  0% {
    transform: rotate(360deg) scale(1) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) scale(1) translate(-50%, 70%);
  }
}

.dania {
  transform-origin: 50% 100%;
  transform: scale(0.5) translateY(-20px);
}

.dania.animate {
  animation: dania-animation 5s cubic-bezier(0.455, 0.030, 0.050, 1.040) forwards;
}

@keyframes dania-animation {
  0% {
    transform: scale(0.5) translateY(-20px);
  }
  100% {
    transform: scale(2) translateY(-20px);
  }
}

.bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: all 3s cubic-bezier(0.455, 0.030, 0.050, 1.040);
}

.balloons {
  top: 0%;
}

.happy-birthday {
  top: 50%;
  height: 100%;
  width: 100%;
  font-family: var(--titan-one);
}

.happy-birthday div {
  font-size: 16px;
  color: #fff;
  text-shadow: 3px 3px 3px #bf0e87;
}

.happy-birthday .space {
  width: 10px;
}

.balloons.animate {
  animation: balloons-animation 8s cubic-bezier(0.455, 0.030, 0.050, 1.040) forwards;
}

@keyframes balloons-animation {
  0% {
    top: 0%;
    transform: scale(1);
  }
  100% {
    top: -80%;
    transform: scale(1.1);
  }
}

.mazapan-mini1 {
  transform: scale(0);
  position: absolute;
  left: -90%;
  top: -130%;
  transition: all 3s cubic-bezier(0.455, 0.030, 0.050, 1.040);
}

.mazapan-mini2 {
  transform: scale(0);
  position: absolute;
  left: 100%;
  top: -70%;
  transition: all 2s ease-in-out;
}

.mazapan-mini1.animate, .mazapan-mini2.animate {
  transform: scale(.5);
  animation: mazapan-mini-animation 0.8s cubic-bezier(0.455, 0.030, 0.050, 1.040) infinite alternate;
}

.mazapan-mini1.animate {
  animation-delay: 2.4s;
}

.mazapan-mini2.animate {
  animation-delay: 2s;
}

@keyframes mazapan-mini-animation {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(.6);
  }
}

/*
.wavy {
  animation-name: wavy;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}

@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
*/

@keyframes example-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(9px);
    opacity: 0.8;
  }
}
.happy-birthday div:nth-child(1) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(2) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(3) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(4) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(5) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(6) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(7) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(8) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(9) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(10) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(11) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(12) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(13) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(14) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.happy-birthday div:nth-child(15) {
  display: inline-block;
  -webkit-animation-name: example-1;
          animation-name: example-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}